body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  padding: 1em;
  text-align: center;
  color: white;
}

section {
  padding: 2em;
  text-align: center;
}

footer {
  background-color: #333;
  padding: 1em;
  text-align: center;
  color: white;
  /* (position: fixed) dihapus agar tidak menghalangi 'phone number' dalam section 'contact us' */
  bottom: 0;
  width: 100%;
}
