body {
  font-family: Arial, sans-serif;
  margin: 10;
  padding: 12;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  padding: 1em;
  text-align: center;
  color: white;
}

section {
  padding: 2em;
  text-align: center;
}

footer {
  background-color: #333;
  padding: 1em;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}